<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div>
				<h3><%= @recipe.title %></h3>
						<%= link_to	(image_tag @recipe.image.url(:medium, class: "recipe_image")) %>
				</div><br>
				<%= link_to "Back", root_path, class: "btn btn-default" %>
				<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
				<%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?" },  
				class: "btn btn-default" %>
		</div>
		<div class="col-sm-4">
			<h3>INGREDIENTS</h3>
				<ul>
					<% @recipe.ingredients.each do |ingredient| %>
					<li><%= ingredient.name %></li>
					<% end %>
				</ul>				
		</div>
		<div class="col-sm-4">
			<h3>DIRECTIONS</h3>
				<ul>
					<% @recipe.directions.each do |direction| %>
					<li><%= direction.step %></li>
				<% end %>
				</ul>
			</div>
	</div>
</div><br>







